body{
	background:url(https://images.unsplash.com/photo-1526738549149-8e07eca6c147?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3014b97f098b4ebe4ef13142b8845bb5&auto=format&fit=crop&w=1850&q=80);
	background-size: cover;
	background-position: center;
	font-family: lato;
		color: white;	

}

html{
	height: 100%;
}

#content{
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px gray,
				 0px 8px 13px black,
				 0px 18px 23px white

				/*  0px 4px 3px gray,
				 0px 8px 13px black,
				 0px 18px 23px white*/
}

h1{
	font-weight: 700;
	font-size: 5em;
}

hr{
	width:400px;
	border:1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}